#div0 div p {
    font-weight: bold;
    font-size: 17px;
}

.header {
    height: 100px;
    width: 100%;
}

nav {
    display: flex;
    padding: 2% 8%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {

    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;

}

.nav-links ul li a {
    color: #ffc107;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #007bff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

#div0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 150px;
    color: #164596;
}

.Departement {
    background-color: #F9F9F9;
    padding-top: 12px;
}

.image1 {
    width: 150px;
    height: 110px;
}

.info {
    background-repeat: no-repeat;
    height: 500px;
    width: 1000px;
    background-position: 10% 10%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chefdepa {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(10, 58, 130);
    border: 3px solid rgb(16, 104, 186);
    background-color: #FFFFFF;
    width: 0%;
    font-size: 38px;
    margin-top: 50px;
    margin-left: 50px;
}

#titre2 {
    color: white;
    font-size: 70px;
    font-weight: 900;
    margin-left: 50px;
}

.nom-chef p {
    font-size: 20px;
    font-family: sans-serif;
    color: #1b334a;
    text-align: inherit;
    font-weight: 550;
    border: 2px solid #F9F9F9;
    padding: 22px;
    width: 600px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
    margin-left: 50px;
     background-color: #e4e4f1;
    

}

.nom-chef {
    margin-top: 50px;
    margin-left: 100px;
    
}

.nom-chef p:hover {
    background-color: #c6d4e3;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin-left: 150px;
    margin-bottom: 40px;
    background-color: #eff5fc;
    height: 150px;
}
/* Style des lignes impaires */
tr:nth-child(odd) {
    background-color: #cfd0f0;
}

th,td {
    border: 2px solid rgb(182, 177, 189);
    padding: 10px;
    text-align: center;
    font-size: 19px;
    font-weight: 550;
    color: #313538;
}
img{
    width: 1340px;
    height: 450px;
}
.overlay-text {
    position: absolute;
    top: 84%;
    left:450px;
    transform: translate(-50%, -50%);
    color: white; /* Couleur du texte */
    font-size: 50px; /* Taille de la police */
    font-weight: 800; /* Poids de la police */
    text-align: center;
}
th{
    color: rgb(49, 49, 187);
    font-weight: 800;
    font-size: 20px;
}
 th,td{
    padding-left: 60px;
    padding-right: 40px;

 }